body{
	text-align:center;
}
#name{
	background-color:lightblue;
}
#phone{
	background-color:lightgoldenrodyellow;
}
#address{
	background-color:lightcyan;
}
select{
	background-color:lightpink;
}
#submit{
	color:white;
	border-radius:2rem;
	background-color:navy;
}