body{
	text-align:center;
}
#name{
	background-color:lightblue;
}
#phone{
	background-color:lightgoldenrodyellow;
}
#address{
	background-color:lightcyan;
}
select{
	background-color:lightpink;
}
button{
	color:white;
	background-color:navy;
}